<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="end">
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
           votre profil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-card>
          <ion-card-content>
 <dl>
          <dt class="title">
              Nom d'utilisateur:
          </dt>

          <dt class="item">
              {{currentUser.nameUsers}}
          </dt>
      </dl>

      <dl>
          <dt class="title">
              Email:
          </dt>

          <dt class="item">
              {{currentUser.mailUsers}}
          </dt>
      </dl>

      <dl *ngIf="(currentUser!=null) &&(currentUser.CPUsers!='CPNONUSERETU')">
          <dt class="title">
              Code Permanent:
          </dt>

          <dt class="item">
              {{currentUser.CPUsers}}
          </dt>
      </dl>
</ion-card-content>
</ion-card>

</ion-content>


