
.title{
  font-size: 20px;
  font-weight: bold;

}

.item{
  font-size: 14px!important;
  font-weight: normal;
  text-align: justify!important;
  //text-justify: inter-word!important;
}

.item-left{
  font-size: 15px;
  font-weight: bold;
  text-align: left!important;

}
.cursor
{cursor: pointer;}

