<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">
      Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h2>
      Modifier votre mot de passe
    </h2>
  </div>
  <div >
    <div>
      <form (ngSubmit)="update()" [formGroup]="updatePassword">
        <div class="input-group">
          <div  *ngIf="message!=null" class="message" class="message">
            {{message}}
          </div>
          <ion-item>
            <ion-input [type]="oldPasswordType" placeholder="ancien mot de passe" formControlName="oldPasswordAUsers"></ion-input>
            <ion-icon name="eye" [color]="oldPassswordIsShown===true?'secondary':'red'" [style]="oldPassswordIsShown===true?'opacity:100%':'opacity:50%'" item-end (click)="oldPasswordVisible()" > </ion-icon>
          </ion-item>
          <div *ngIf="(oldPasswordAUsers.dirty || oldPasswordAUsers.touched) && oldPasswordAUsers.errors" class="errors">
            <span *ngIf="oldPasswordAUsers.errors?.required">ancien mot de passe obligatoire</span>
            <span *ngIf="oldPasswordAUsers.errors?.minlength">6 caractères au moins pour le mot de passe</span>
          </div>
          <ion-item>
            <ion-input [type]="passwordType" placeholder="nouveau mot de passe" formControlName="passwordAUsers"></ion-input>
            <ion-icon name="eye" [color]="passswordIsShown===true?'secondary':'red'" [style]="passswordIsShown===true?'opacity:100%':'opacity:50%'" item-end (click)="PasswordVisible()" > </ion-icon>
          </ion-item>
          <div *ngIf="(passwordAUsers.dirty || passwordAUsers.touched) && passwordAUsers.errors" class="errors">
            <span *ngIf="passwordAUsers.errors?.required">nouveau mot de passe obligatoire</span>
            <span *ngIf="passwordAUsers.errors?.minlength">6 caractères au moins pour le mot de passe</span>
          </div>
          <ion-item>
            <ion-input [type]="cpasswordType" placeholder="Confirmer nouveau mot de passe" formControlName="confirmpasswordAUsers"></ion-input>
            <ion-icon name="eye" [color]="cpassswordIsShown===true?'secondary':'red'" [style]="cpassswordIsShown===true?'opacity:100%':'opacity:50%'" item-end (click)="cPasswordVisible()" > </ion-icon>
          </ion-item>
          <div *ngIf="(confirmpasswordAUsers.dirty || confirmpasswordAUsers.touched) && confirmpasswordAUsers.errors"
               class="errors">
            <span *ngIf="confirmpasswordAUsers.errors?.mustMatch"> Les deux mots de passe doivent  correspondre</span>
            <span *ngIf="confirmpasswordAUsers.errors?.minlength">6 caractères au moins pour le mot de passe</span>
            <span *ngIf="confirmpasswordAUsers.errors?.required">Confirmation du nouveau mot de passe obligatoire</span>
          </div>

        </div>


        <div>
          <div class="left">
            <ion-button size="small" color="secondary" type="button" routerLink="">
              <span class="material-icons">
                update_disabled
                </span>
              Annuler
            </ion-button>
          </div>
          <div class="right">
            <ion-button type="submit"  [disabled]="!updatePassword.valid" size="small"  color="primary">
          <span class="material-icons">
            save
            </span>
              Valider
            </ion-button>

          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
