.gras
{font-weight: bold;
text-align: justify-all!important;}

.material-icons.md-light { color: rgba(66, 167, 255, 0.96); }

.material-icons.orange600 { color: #FB8C00; }
.material-icons.rouge { color: darkred; }

.material-icons.blue{ color: #3dc2ff; }

.material-icons.bluef{ color: #4F6E8E; }

.material-icons.vert{ color: #2AB200; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.example-viewport {
  height: 100%;
  width: 100%;
  border: none;
}
ion-title{
  size: 40px;
  text-align: center;
}

.evidence
{
  font-weight: bold;
  color: darkred;
  font-size: 16px;
}
